.about {
  padding: 100px;
  background-color: var(--backColor);
  padding-bottom: 0;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: var(--textColor);
}

/* .header > h2 {
  font-weight: 600;
  font-size: 30px;
  color: var(--textColor); 
} */

#secColor {
  color: var(--altColor);
  text-align: center;
  font-size: 2.0rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 30px;
}

.contentBx > h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--textColor);
}

.contentBx > p {
  color: var(--textColor);
  font-size: 1rem;
  line-height: 1.55;
  margin-top: 0;
  text-align: justify;
}

.w50 {
  min-width: 50%;
}

img {
  max-width: 100%;
}

@media screen and  (max-width: 1130px){
  .contentBx > p {
    line-height: 1.4;
    font-size: 0.97rem;
  }
}

@media screen and  (max-width: 1050px){
  .about {
    padding: 50px 50px 0;
  }
}

@media screen and  (max-width: 1000px){
  .about {
    padding: 100px 100px 0;
  }

  .aboutContent {
    flex-direction: column;
  }

  .contentBx {
    padding: 0 120px 20px 0;
  }
}

@media screen and  (max-width: 950px){

  .contentBx {
    padding: 0 90px 20px 0;
  }
}

@media screen and  (max-width: 900px){

  .contentBx {
    padding: 0 80px 20px 0;
  }
}

@media screen and  (max-width: 860px){
  .about {
    padding: 70px 55px 0;
  } 

  .contentBx {
    padding: 0 50px 20px 0;
  }
}

@media screen and  (max-width: 750px){
  img {
    max-width: 90%;
  }
}

@media screen and  (max-width: 650px){
  #secColor {
    font-size: 1.6rem;
    line-height: .5;
  }

  .contentBx > h3 {
    font-size: 1.4rem;
  }
  
  .contentBx > p {
    font-size: 0.92rem;
  }
}

@media screen and  (max-width: 550px){
  .about {
    padding: 50px 15px 0 40px;
  }
}

@media screen and  (max-width: 450px){
  .about {
    padding: 50px 5px 0 30px;
  }

  #secColor {
    font-size: 1.4rem;
    line-height: 0;
  }

  .contentBx > h3 {
    font-size: 1.2rem;
  }
  
  .contentBx > p {
    font-size: 0.85rem;
  }
}

@media screen and  (max-width: 390px){
  .about {
    padding: 30px 0px 0 20px;
  }

  #secColor {
    font-size: 1.3rem;
    line-height: 0;
  }

  .contentBx > h3 {
    font-size: 1.1rem;
  }
  
  .contentBx > p {
    font-size: 0.8rem;
  }
}

@media screen and  (max-width: 340px){
  .about {
    padding: 30px 0px 0 20px;
  }

  #secColor {
    font-size: 1.2rem;
    line-height: 0;
  }

  .contentBx > h3 {
    font-size: 1rem;
  }
  
  .contentBx > p {
    font-size: 0.75rem;
  }
}

