.testimonials {
  background: var(--backColor);
  padding: 50px;
  padding-top: 80px;
}

.testimonials .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .testimonials {
    padding: 25px;
    padding-top: 80px;
  } 
  .testimonials > .content {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .testimonials {
    padding: 15px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 500px) {
  .testimonials {
    padding: 10px;
    padding-top: 80px;
  }
}